@page "/"
@using SSW.FireEmoji.WebApp.Classes

<PageTitle>FireEmoji</PageTitle>

<div class="row justify-content-md-center">
    <h1 class="col-sm-10 m-2">FireEmoji</h1>
    <div class="w-100"></div>
    <div class="col-6">
        <Input Placeholder="Your commit message here!"
                Size="@InputSize.Large"
                Value="@commitMessage"
                ValueChanged="@((string s) => FetchGitmoji(s))"/>
    </div>
</div>
<div class="row justify-content-md-center">
    @foreach (var item in emojiList)
    {
        <EmojiCard Emoji="@item" />
    }
</div>

@code {
    private string commitMessage = string.Empty;
    private IList<Emoji> emojiList = new List<Emoji>
    {
        new Emoji
        {
            Character = "✨",
            Name = "sparkles"
        },
         new Emoji
        {
            Character = "🐛",
            Name = "bug"
        },
        new Emoji
        {
            Character = "🔥",
            Name = "fire"
        }
    };

    private void FetchGitmoji(string userInput)
    {
        commitMessage = userInput;
        if (string.IsNullOrEmpty(commitMessage))
            return;

        Console.WriteLine(commitMessage);
        //TODO: Get emojis
    }
}